.credits {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, 300%);
    
    p {
        font-size: 12px;
        font-weight: 400;
        color: $primary-light-cyan;
    }

    a {
        color: $primary-light-cyan;
    }
}